<?xml version="1.0"?>
<launch>
    <arg name="laser_enabled" default="0"/>
    <arg name="realsense_enabled" default="1"/>

    <!-- <include file="$(find onga_gazebo)/launch/arduino_playpen.launch" >
        <arg name="laser_enabled" default="$(arg laser_enabled)"/>
        <arg name="realsense_enabled" default="$(arg realsense_enabled)"/>
    </include> -->

    <include file="$(find onga_gazebo)/launch/onga_playpen.launch">
        <arg name="laser_enabled" default="$(arg laser_enabled)"/>
        <arg name="realsense_enabled" default="$(arg realsense_enabled)"/>
    </include>
    
    <include file="$(find onga_viz)/launch/view_robot.launch" />
    <include file="$(find onga_navigation)/launch/move_base_mapless_demo.launch" />

</launch>