<?xml version="1.0"?>
<launch>
    <!-- robot_mode : husky, osoyoo -->
    <arg name="mode" default="husky"/>

    <arg name="laser_enabled" default="0"/>
    <arg name="realsense_enabled" default="1"/>

    <include file="$(find onga_gazebo)/launch/onga_playpen.launch">
        <arg name="mode" value="$(arg mode)"/>
        <arg name="laser_enabled" value="$(arg laser_enabled)"/>
        <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
    </include>
    
    <include file="$(find onga_viz)/launch/view_robot.launch" >
        <arg name="mode" default="$(arg mode)"/>
    </include>
    <include file="$(find onga_navigation)/launch/move_base_mapless_demo.launch" >
        <arg name="mode" value="$(arg mode)"/>
    </include>

</launch>