<?xml version="1.0"?>
<launch>
    <!-- robot_mode : husky, osoyoo -->
    <arg name="mode" default="husky"/>

    <arg name="laser_enabled" default="0"/>
    <arg name="realsense_enabled" default="1"/>
    
    <include file="$(find onga_gazebo)/launch/sim_full.launch" />
        <arg name="mode" value="$(arg mode)"/>
        <arg name="laser_enabled" value="0"/>
        <arg name="realsense_enabled" value="1"/>
    </include>
    <include file="$(find onga_arduino)/launch/bringup_arduino.launch" />

</launch>