<?xml version="1.0"?>
<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find onga_navigation)/maps/playpen_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <arg name="scan_topic" default="$(eval optenv('HUSKY_LASER_TOPIC', 'scan'))" />

  <!--- Run AMCL -->
  <include file="$(find onga_navigation)/launch/amcl.launch">
    <arg name="scan_topic" value="$(arg scan_topic)" />
  </include>

  <!--- Run Move Base -->
  <include file="$(find onga_navigation)/launch/move_base.launch" />

</launch>
