<?xml version="1.0"?>
<!-- Rvizによる描画を起動（modeによって読み込まれる設定ファイルが異なる） -->
<launch>
  <arg name="mode" default="osoyoo"/>

  <group if="$(eval mode == 'husky')">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find onga_viz)/rviz/robot.rviz" output="screen"/>
  </group>

  <group if="$(eval mode == 'osoyoo')">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find onga_viz)/rviz/osoyoo.rviz" output="screen"/>
  </group>

  <group if="$(eval mode == 'mecanum')">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find onga_viz)/rviz/mecanum.rviz" output="screen"/>
  </group>
  
</launch>
