footprint: [[-0.09, -0.07], [-0.09, 0.07], [0.09, 0.07], [0.09, -0.07]]
footprint_padding: 0.001

robot_base_frame: base_link
update_frequency: 4.0
publish_frequency: 3.0
transform_tolerance: 0.5

resolution: 0.01


#layer definitions
static:
    map_topic: /map
    subscribe_to_updates: true

obstacles_laser:
    observation_sources: laser
    laser: 
        sensor_frame: base_link
        data_type: LaserScan
        clearing: true
        marking: true 
        topic: realsense/scan 
        inf_is_valid: true
        obstacle_range: 2.0
        raytrace_range: 2.5
        # obstacle_min_z: 0.0
        # obstacle_max_z: 0.7

inflation:
    inflation_radius: 0.5
